.purple-gradient {
    background-image: linear-gradient(to left, #6f42c1, #4e54c8);
}

.btn-gradient {
    background: linear-gradient(90deg, #667eea, #764ba2);
    /* purple-blue gradient */
    border: none;
}
.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0} 
    to {width: 100%}
}
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: orange};
}